server:
  port: 8083

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/my_auth_app?useSSL=false&serverTimezone=UTC
    username: root
    password: Sayan@CSE2004@Sayan

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
              - openid

logging:
  level:
    org.springframework.security: DEBUG

# Custom application security (NOT Spring Security auto-config)
security:
  jwt:
    secret: ${JWT_SECRET:iryhgferysgf,uegfaewgf9icjva2ecrd8yvuejgdqgrfqewfurqeyjgrfquk}
    issuer: ${JWT_ISSUER:myauthapp.com}
    access-ttl-seconds: ${JWT_ACCESS_TTL_SECONDS:86400}
    refresh-ttl-seconds: ${JWT_REFRESH_TTL_SECONDS:86400}
    refresh-token-cookie-name: ${JWT_REFRESH_COOKIE_NAME:refreshToken}
    cookie-secure: ${JWT_COOKIE_SECURE:true}
    cookie-http-only: ${JWT_COOKIE_HTTP_ONLY:true}
    cookie-same-site: ${JWT_COOKIE_SAME_SITE:lax}
    cookie-domain: ${JWT_COOKIE_DOMAIN:localhost}
